{
  "link"     : "[drupal site domain]",
  "author"   : "[email address]",
  "language" : "en-US",
  "mysql"    : {
    "host"     : "localhost",
    "user"     : "root",
    "database" : "[mysql database]"
  }
}